COMPRAS_API_KEY=change-me
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=modulo_compras
KAFKA_ENABLED=false
KAFKA_BROKERS=127.0.0.1:9092
KAFKA_CLIENT_ID=modulo-compras
KAFKA_TOPIC_SOLICITUDES=compras.solicitudes
